@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* CSS Reset */

.nav {
    background-color: lightblue;
}

.nav>ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.nav a:hover {
    background-color: dodgerblue;
    border-radius: 5px;
    transition: 500ms;
    padding: 10px;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: lightcyan;
}

.footer-a {
    display: flex;
    height: 100px;
}

.footer-b {
    display: flex;
    flex-direction: column;
    margin: 0px 250px;
}

.footer-b1 {
    display: flex;
}

.footer-b1>* {
    flex: 1 1 0;
}

footer div {
    /* border: 1px solid black; */
}

.b1-venstre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: dodgerblue;
    font-weight: bold;
}

.snap,
.insta,
.facebook,
.mobil,
.mail {
    display: flex;
    align-items: center;

    gap: 5px;
    font-size: 20px;
    padding: 5px;
    margin-left: 50px;
}

.footer-b2 {
    height: 100px;
}

.footer-c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 2px;
}




@media(width < 700px) {
    .footer-b {
        margin: 0;
    }
}