@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: "Figtree", sans-serif;
}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* CSS Reset */

header {
    position: sticky;
    top: 0;
}

.nav {
    background-color: lightblue;
}

.nav>ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: clamp(15px, 5vw, 30px);
}

.nav a:hover {
    background-color: dodgerblue;
    border-radius: 5px;
    transition: 500ms;
    padding: 10px;
}

main {
    flex-grow: 1;
    margin-bottom: 100px;
}

.intro {
    text-align: center;
    margin: 50px;
}

.intro>h1 {
    font-size: 75px;
}

.intro>p {
    font-size: 20px;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: lightcyan;
}

.footer-a {
    display: flex;
    height: 100px;
}

.footer-b {
    display: flex;
    flex-direction: column;
    margin: 0px 250px;
}

.footer-b1 {
    display: flex;
}

.footer-b1>* {
    flex: 1 1 0;
}

.b1-venstre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: dodgerblue;
    font-weight: bold;
}

.snap,
.insta,
.facebook,
.mobil,
.mail {
    display: flex;
    align-items: center;

    gap: 5px;
    font-size: 20px;
    padding: 5px;
    margin-left: 50px;
}

.footer-b2 {
    height: 100px;
}

.footer-c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 2px;
}




@media(width < 700px) {
    .footer-b {
        margin: 0;
    }

    .footer-b1 {
        flex-direction: column;
    }

    .b1-hoyre>* {
        justify-content: center;
    }

    .snap,
    .insta,
    .facebook,
    .mobil,
    .mail {
        margin-left: 0px;
    }

    .intro>h1 {
        font-size: 40px;
    }

    .intro>p {
        font-size: 15px;
    }
}

/* @media(width < 700px) {
    .nav a {
    font-size: clamp(1rem, 2vw, 2rem);
}
} */